

/* Global Layout Set-up */

*{ 
  box-sizing: border-box;
}
  
body {
 
 font-family: 'Lora', 'Source Sans Pro', serif, sans-serif;
line-height: 1.6;
color: #003264;
background-color: #f6f6f6;

}




img {
    max-width: 100%;
}

a {
    text-decoration: none;
    list-style: none;
}



p {
    font-size: .95em;
    margin-bottom: 1.8em;
    
}

li {
  list-style: none;
}

/**********************
NAVIGATION
**********************/

.name {
    font-size: 1.50em;
    margin: 0;
   
    }

.main-nav a {
    margin-top: 5px;
     }

.name a {
    color:#7B9AFF;
    
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
    padding: 10px 15px;
	
}

.main-nav a {
	font-size: .95em;
	color:#003264;
	text-transform: uppercase;
    background-color: 	#D6DFFF;
}


.main-nav a:hover {
	color:  #7B9AFF;
}

nav ul {
  padding: 15px; 
  text-align: center;
}

/**********************
     MAIN
**********************/

.main {
    background-color: #f6f6f6;
}

.home,
.skills{
    margin-right: 15px;
    padding-left: 15px;
    text-align: center;
}

#portfolio {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}



ul.list {
  padding: 0;
  text-align: center;
}

.list li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.list li:nth-child(odd) {
  background: #0399ff;
}

/**********************
    FOOTER
**********************/
.main-footer {
 background-color: #D6DFFF;
}

.main-footer a {
   text-decoration: none;
    list-style: none;
    color: #171745;
        overflow: hidden;
        
   }


.top {
    float: right;
    margin: 0  10px 15px 15px;;
    display: inline-block;
    
    }

#contact {
    padding-top: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left:  10px;
}

.contact-info{
    display: inline-block;
    width:90%;
    align-items: center;
    padding: 0;

}

h5 {
    margin: 0;
  }

.name-footer {
    margin: 0 10px  15px 15px;
    display: inline-block;
    
}

.footer-nav {
   display: none;
}


/* Gradient transparent - color - transparent */ 

hr { 
     border: 0; 
    height: 1px; 
    background: #bdbdbd; 
    width: 90%;
}



/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

/**********************
   MEDIA QUERIES
**********************/


@media screen and (min-width: 720px) {
    
    .main-nav li {
        display:inline-block;
        font-weight: bold; 
        padding: 0;
    }
 
    
    nav ul {
        padding: 0;
        margin-top: 0;
    }
    
    .main-nav a {
        background-color: #f6f6f6;
    }
    
    
   
    .primary {
        display: block;
       max-width: 100%;
         }
    
    #home img{
        max-width: 200px;
        float:right;
        margin-left: 15px;
       }
    
    #portfolio{
       margin:auto;
       padding-right: 10px;
        padding-left: 10px;
    }
    

    .col {
        display: inline-block;
        width: 50%;
        margin-right: -4px;
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px
       
    }
    
    
    #contact {
    margin: auto;
    max-width: 70%;
    
      }
    
    .top{
        visibility: hidden;
    }
    
    .footer-nav   {
        display: inline;
        visibility: visible;
        float: right;
        margin-right: -75px;
        }
    
    .name-footer {
        float:left;
        margin-left: 40px;
        
    }
    
    
    
    .footer-nav li {
        display: inline-block;
        font-weight: bold;
        margin-right: 10px;
        }
    
    
}


@media screen and (min-width: 1024px) {
     
    .main {
        width: 90%;
        margin: 0 auto;
     }
    
    .main-header{
        padding-top: 25px;
        padding-bottom: 25px;
        
    }
       
    .name {
         float:left;
         margin-left: 100px;
    } 
    
    .main-nav {
        float:right;
        margin-right: 100px;
    }
    
    .main-nav li {
        float: left;
        margin-left: 12px;
    }
    
   
     .primary {
        display: block;
         width: 65%;
         padding-top: 15px;
         margin-top: 25px;
         margin-left: 25px
        
   
         }
    
    #home img{
        max-width: 650px;
        float:right;
        padding-top: 15px;
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 15px;
        margin-bottom: 25px;
       }
    
    #portfolio {
       background-color: #FFF;
    padding: 0;
   }
    
    .col {
    width:30% ;
}

#portfolio li:nth-child(4n) {
clear: left;
 }
    
    
    #contact {
    margin: auto;
    max-width: 50%;
      }
    
    
    
    .name-footer {
        margin-left: 75px;
    }
    
    
    
    .footer-nav {
        margin-right: -40px;
        }
    
    
}
    
 
    
    
    

